@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
}
@media (min-width: 1940px) and (max-width: 2700px) {
  html {
    font-size: 70%;
  }
}
@media (min-width: 1700px) and (max-width: 1939px) {
  html {
    font-size: 60%;
  }
}
@media (min-width: 1450px) and (max-width: 1700px) {
  html {
    font-size: 60%;
  }
}
@media (min-width: 1350px) and (max-width: 1490px) {
  html {
    font-size: 70%;
  }
}
@media (min-width: 1195px) and (max-width: 1240px) {
  html {
    font-size: 60%;
  }
}
@media (min-width: 1100px) and (max-width: 1195px) {
  html {
    font-size: 55%;
  }
}
@media (min-width: 1000px) and (max-width: 1100px) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 900px) and (max-width: 1000px) {
  html {
    font-size: 45%;
  }
}
@media (min-width: 800px) and (max-width: 900px) {
  html {
    font-size: 40%;
  }
}
@media (min-width: 768px) and (max-width: 800px) {
  html {
    font-size: 40%;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 350px) and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 300px) and (max-width: 350px) {
  html {
    font-size: 45%;
  }
}

:root {
  --white: #f2ece2;
  --orange: #f0894d;
  --lightpink: #fcbea4;
  --lightyellow: #eee7dc;
  --black: #111111;
  --gray: #9d9d9d;
  --yellow: #fce6bd;
}

html {
  overflow: hidden;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

.scrollable {
  overflow: scroll;
}

@media (max-width: 540px) {
  html,
  body {
    overflow: auto;
  }
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  *::-webkit-scrollbar {
    display: block;
  }
  .scrollable {
    overflow: auto;
  }
}
.cross_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cross_flex_cross_icon {
  height: 2.5rem;
  width: 2.5rem;
  transition: all 0.3s ease;
}
.cross_flex_cross_icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.changebackground {
  background-color: var(--lightyellow);
}

.logo {
  width: 100%;
  height: 6rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(41, 41, 41, 0.247);
}

.logo_container {
  margin: 1rem 0 0 0;
  width: 100%;
}

.icons {
  color: black;
  width: 2.5rem;
  height: 2.5rem;
  padding: 1.5rem 0;
  width: 100%;
  transition: all 0.5s ease-out;
}
.icons:hover {
  cursor: pointer;
  background-color: var(--lightyellow);
}

.icons:first-child {
  background-color: var(--lightyellow);
}

.black_icons {
  color: black;
  width: 3.8rem;
  height: 3.8rem;
  margin-bottom: 1rem;
}

.user_main_img {
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 50%;
  margin-left: 1.5rem;
}
.user_main_img:hover {
  cursor: pointer;
}

.icon-section--last-orange {
  background-color: rgba(216, 213, 213, 0.5137254902);
  border-radius: 50%;
  border: 1px solid var(--orange);
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.icon-section--last-orange:hover {
  cursor: pointer;
}

.icon-section__icon--last-orange {
  color: #f0894d;
  width: 1.6rem;
  height: 1.6rem;
  padding: 0.1rem;
}

.many_user_img {
  width: 5.7rem;
  height: 5.6rem;
  border-radius: 50%;
}
@media (min-width: 2027px) and (max-width: 2700px) {
  .many_user_img {
    width: 6rem;
    height: 6rem;
  }
}
@media (min-width: 1939px) and (max-width: 2027px) {
  .many_user_img {
    width: 5.5rem;
    height: 5.5rem;
  }
}
@media (min-width: 1489px) and (max-width: 1550px) {
  .many_user_img {
    width: 5rem;
    height: 5rem;
  }
}
.many_user_img:hover {
  cursor: pointer;
}

.last_icon {
  color: white;
}

.whitebg {
  background-color: white;
}

.blackbg {
  color: black;
}

.chaticon {
  background-color: var(--lightyellow);
}

li {
  transition: all 0.3s ease;
}
li:hover {
  transform: translateX(1rem);
  font-weight: bold;
}

.cross_flex {
  border-bottom: 1px solid #ccc;
}

.heading {
  border-bottom: 1px solid rgba(41, 41, 41, 0.2470588235);
  padding: 1.45rem 2rem;
  height: 7rem;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading {
    border: none;
  }
}
.heading__main {
  font-size: 2rem;
  font-family: "Poppins";
  font-weight: 600;
  cursor: pointer;
}
.heading__second {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 0.8;
  padding: 0;
  cursor: pointer;
  font-family: "Poppins";
}

.menu-container {
  width: 100%;
}

.menu-header {
  padding: 0.7rem 0;
  margin: 0;
  font-size: 1.8rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.menu-list {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.toggle-icon {
  transition: transform 0.2s;
  font-size: 2rem;
}

.menu-list li {
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.menu-list li:hover {
  cursor: pointer;
}

.menu-list li:last-child {
  font-weight: 600;
  margin-bottom: 1rem;
}
.menu-list li:last-child:hover {
  cursor: pointer;
}

.status_container {
  width: 100%;
  height: 0.8rem;
  margin-top: 1rem;
  background-color: rgba(77, 78, 74, 0.281);
  border-radius: 1.5rem;
  overflow: hidden;
}

.today_date_heading {
  color: black;
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 500;
}
.today_date_heading:hover {
  cursor: pointer;
}

.task_detail {
  font-family: "Poppins";
  padding: 1rem 0 3rem 0;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 500;
}

.col_3_section {
  width: 100%;
  height: 100%;
  height: calc(100vh - 0.2rem);
  padding: 1rem 2rem;
  overflow-y: auto;
  overflow-x: hidden;
}
@media (min-width: 0px) and (max-width: 560px) {
  .col_3_section {
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 559px) and (max-width: 768px) {
  .col_3_section {
    padding-bottom: 15rem;
  }
}

.notif_icon {
  width: 2.2rem;
  height: 2.2rem;
  padding: 0.7rem;
  transition: all 0.3s ease;
}

.notif_icon:hover {
  transform: rotate(20deg);
  cursor: pointer;
}

.task_card_content {
  position: relative;
}

.circle-shape {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 20px;
  background-color: transparent;
  border: 2px solid white;
}

.circle-shape.secondary {
  top: 6.5rem;
  left: 10.7rem;
  width: 50px;
  height: 40px;
  transform: rotate(-60deg);
  border: 2px solid white;
}

.circle-shape:first-child {
  width: 30px;
  height: 20px;
  top: 11.5rem;
  left: 8rem;
  transform: rotate(-60deg);
  border: 2px solid white;
}

.circle-shape.final {
  top: 10rem;
  left: 15.5rem;
  width: 30px;
  height: 20px;
  transform: rotate(-60deg);
  border: 2px solid white;
}

.col_3_heading {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0 0 0;
}

.recent_heading {
  color: var(--black);
  font-size: 1.8rem;
  font-family: "Poppins";
  font-weight: 600;
  cursor: pointer;
}

.view_heading {
  color: var(--orange);
  font-size: 1.4rem;
  font-family: "Poppins";
  font-weight: 500;
  cursor: pointer;
}

.design_system_heading {
  margin-top: 3rem;
  font-size: 2.1rem;
  color: var(--black);
  font-family: "Poppins";
  font-weight: 500;
}

.deadline_heading {
  margin-top: 1.2rem;
  font-size: 1.1rem;
  color: var(--black);
  font-family: "Poppins";
  font-weight: 500;
}

.hours_heading {
  margin-top: 12rem;
  font-size: 1.1rem;
  color: var(--black);
  font-family: "Poppins";
  font-weight: 400;
}

.reminder_heading {
  color: var(--black);
  font-size: 1.8rem;
  font-family: "Poppins";
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.reminder_section {
  border: 2px solid #ccc;
  padding: 2rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.single-curve-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  transform: rotate(-15deg);
  margin-top: 4.05rem;
}

.two-curve {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  transform: rotate(-20deg);
  margin-top: 6rem;
}

.topflex,
.dailycard-title,
.dailycardtext {
  position: relative;
}

.project_heading_text {
  font-size: 1.2rem;
  color: #888686;
  font-weight: 400;
}
.project_heading_text:hover {
  cursor: pointer;
}

.tomorrow_heading {
  color: #4e4b4b;
  font-family: "Poppins";
  font-size: 1.3rem;
  font-weight: 600;
}

.reminder_flex_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reminder_flex_section {
    flex-direction: column;
    gap: 1rem;
  }
}

.long_heading {
  font-size: 1.7rem;
  font-family: "Poppins";
  font-weight: 600;
}

.notif_icon_container {
  position: relative;
}

.set_heading {
  font-size: 1.3rem;
  font-family: "Poppins";
  font-weight: 500;
  border: 2px dashed #f0894d;
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  flex-shrink: 0;
  transition: all 0.3s ease;
}
@media (min-width: 0px) and (max-width: 768px) {
  .set_heading {
    margin-bottom: 2rem;
  }
}
.set_heading:hover {
  background-color: #f0894d;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}

.project_heading {
  font-size: 1.4rem;
  font-family: "Poppins";
  font-weight: 500;
  padding: 1.2rem 2.5rem;
  color: white;
  border-radius: 3rem;
  flex-shrink: 0;
  background-color: #f0894d;
  transition: all 0.3s ease;
}
.project_heading:hover {
  color: black;
  cursor: pointer;
}

.indicator_box {
  display: flex;
  border: 1.7px solid var(--orange);
  height: 1rem;
  width: 1rem;
  margin: 0 0 0 0.7rem;
  background-color: white;
  border-radius: 25%;
  align-items: center;
  justify-content: center;
}

.user_name_section {
  padding: 0 0 0.5rem 0.8rem;
}

.user_name_section__heading {
  color: #a8a5a5;
  font-size: 1.1rem;
  font-family: "Poppins";
  font-weight: 500;
}

.user_name_section__name {
  font-size: 1.4rem;
  font-family: "Poppins";
  font-weight: 500;
}

.team_heading {
  font-size: 2rem;
  font-family: "Outfit";
  font-weight: 500;
  padding: 1rem 0 0rem 0;
}
.team_heading:hover {
  cursor: pointer;
}

.daily_task_heading {
  color: var(--black);
  font-size: 2rem;
  font-family: "Outfit";
  font-weight: 600;
}
.daily_task_heading:hover {
  cursor: pointer;
}

.edit_heading {
  color: var(--orange);
  font-size: 1.6rem;
  font-family: "Outfit";
  font-weight: 400;
  padding: 0 2.7rem;
}
.edit_heading:hover {
  cursor: pointer;
}

.white_text {
  color: var(--white);
  font-weight: 400;
}

.first_card {
  background-color: var(--lightpink);
  margin-top: 1rem;
  border-radius: 2.5rem;
}
.first_card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.second_card {
  background-color: var(--yellow);
  margin-top: 1rem;
  border-radius: 2.5rem;
}
.second_card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.card_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2.5rem;
}

.first_icon {
  background-color: black;
  color: white;
  padding: 1.6rem;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5rem;
  z-index: 99;
  border: 2px solid #fcbea4;
}

.card_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status_fill {
  height: 100%;
  background-color: black;
  border-radius: 1.5rem;
}

.user_img_section {
  display: flex;
}

.user_1 {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  margin-left: -1.5rem;
  z-index: 3;
  border: 2px solid #fcbea4;
}

.user_2 {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  margin-left: -1.2rem;
  z-index: 1;
  border: 2px solid #fcbea4;
}

.checkbox-wrapper input {
  display: none;
}

.checkbox-wrapper .checkbox-mark {
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--orange);
  background-color: white;
  display: inline-block;
  position: relative;
  border-radius: 25%;
  cursor: pointer;
}

.checkbox-wrapper input:checked + .checkbox-mark {
  background-color: var(--orange);
}

.checkbox-wrapper input:checked + .checkbox-mark::after {
  content: "✔";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
}

.task_card_second {
  position: relative;
}

.rotated-bar {
  background-color: transparent;
  position: absolute;
  width: 15px;
  height: 80px;
  transform: rotate(-30deg);
}

.rotated-bar.secondary {
  border: 1px solid var(--orange);
  width: 15px;
  left: 3rem;
  top: 10.1rem;
  transform: rotate(60deg);
}

.rotated-bar:first-child {
  top: 6rem;
  transform: rotate(60deg);
  left: -2rem;
  border: 1px solid var(--orange);
}

.rotated-bar.final {
  left: 2rem;
  transform: rotate(60deg);
  top: 7rem;
  border: 1px solid var(--orange);
}

.second {
  background-color: white;
}
.second:hover {
  background-color: var(--lightyellow);
}

.two_dot_section {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-direction: column;
}

.dots {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--black);
  border-radius: 50%;
}

.paddingcard {
  padding: 3rem 2.5rem;
}

.second_icon {
  background-color: #fce6bd;
  color: var(--black);
  padding: 1.6rem;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5rem;
  z-index: 99;
  border: 2px solid black;
}

.users_1 {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  margin-left: -1.5rem;
  z-index: 3;
  border: 2px solid #fce6bd;
}

.users_2 {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  margin-left: -1.2rem;
  z-index: 1;
  border: 2px solid #fce6bd;
}

.cardcenter {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task_flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.header_flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.task_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  margin: 1.2rem 0 0 0;
  gap: 2rem;
}

.task_card_first {
  background-color: rgba(236, 218, 191, 0.5333333333);
  border-radius: 1.6rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.task_card_first:hover {
  cursor: pointer;
}

.task_card_second {
  background-color: white;
  border-radius: 1.6rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.task_card_second:hover {
  cursor: pointer;
}

.task_card_content {
  padding: 1rem 1.5rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 350px) and (max-width: 540px) {
  .task_card_content {
    height: 10rem;
  }
}

.task_heading {
  text-align: left;
  font-size: 1.4rem;
  font-family: "Poppins";
  font-weight: 500;
}

.task_plus_icon {
  width: 1.74rem;
  height: 1.74rem;
  align-self: flex-end;
}

.add_new_task {
  padding: 3rem 2rem 2rem 2rem;
}

.task_status {
  font-weight: 500;
  font-family: "Poppins";
  margin: 0 0 0 0.5rem;
  font-size: 1.2rem;
}

.status_dot {
  background-color: var(--orange);
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
}

.cyan {
  background-color: cyan;
}

.orange {
  background-color: var(--orange);
}

.white {
  background-color: var(--white);
}

.sol {
  justify-content: flex-start;
}

.black {
  background-color: black;
  width: 1.3rem;
  height: 1.3rem;
}

.search_box {
  display: flex;
  align-items: center;
  border-radius: 3rem;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  margin: auto;
  padding: 0.5rem 0.8rem;
  border: 1px solid #d3d3d3;
  margin: 1rem 0 0 0;
}

.icon_search {
  color: #d3d3d3;
  width: 2rem;
  height: 2rem;
}

.input_search {
  padding: 0.6rem;
  font-size: 1.7rem;
  outline: none;
  flex: 1;
  border: none;
}

.search_button {
  border: none;
  display: flex;
  padding: 0 0.5rem 0 1rem;
  align-items: center;
  background-color: transparent;
  justify-content: center;
  cursor: pointer;
}

.main_container {
  display: grid;
  grid-template-columns: 6% 18% 46% 30%;
  height: 100vh;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main_container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 560px) {
  .main_container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: 100vh;
  }
  .main_container .col_3_section {
    height: auto;
    overflow: visible;
  }
}

.col_1 {
  background-color: white;
}
@media (min-width: 0px) and (max-width: 768px) {
  .col_1 {
    display: none;
  }
}

.col_2 {
  background-color: var(--lightyellow);
}
@media (min-width: 0px) and (max-width: 768px) {
  .col_2 {
    display: none;
  }
}

.col_3 {
  background-color: white;
}

.col_4 {
  background-color: white;
  box-shadow: -0.7rem 0 1.5rem rgba(150, 150, 150, 0.2);
}

.column {
  background-color: var(--lightyellow);
  z-index: 999999;
  height: 100vh;
  position: fixed;
  top: 0rem;
  left: -100%; /* Initially off-screen to the left */
  opacity: 0; /* Initially invisible */
  animation: slideIn 0.5s ease-out forwards; /* Apply slide-in animation */
  /* Media Queries for responsiveness */
}
@media (min-width: 768px) and (max-width: 3000px) {
  .column {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column {
    width: 35%;
  }
}
@media (min-width: 500px) and (max-width: 675px) {
  .column {
    width: 40%;
  }
}
@media (min-width: 400px) and (max-width: 500px) {
  .column {
    width: 50%;
  }
}
@media (min-width: 300px) and (max-width: 400px) {
  .column {
    width: 50%;
  }
}
@media (min-width: 499px) and (max-width: 517px) {
  .column {
    width: 45%;
  }
}
@media (min-width: 0px) and (max-width: 413px) {
  .column {
    width: 60%;
  }
}

@keyframes slideIn {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
.column.hide {
  animation: slideOut 0.3s ease-in forwards;
}

@keyframes slideOut {
  0% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}
@media (min-width: 768px) and (max-width: 3000px) {
  .column_1 {
    display: none;
  }
}

.icon_flex_1 {
  flex-direction: row;
}

.direction {
  flex-direction: row;
}

.first_flex {
  display: flex;
  justify-content: space-between;
  background-color: var(--lightyellow);
}
@media (min-width: 768px) and (max-width: 3000px) {
  .first_flex {
    display: none;
  }
}

.icon_flex,
.flex_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.flex_icon {
  flex-direction: row;
}

.col_1_section,
.first_col {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.first_col {
  flex-direction: row;
  border-bottom: 1px solid #ccc;
}

.black_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-layout {
  font-size: 4.8rem;
  padding: 2.9rem 2rem 2rem 2rem;
  width: 100%;
  height: 100%;
  height: calc(100vh - 7rem);
  overflow-y: auto;
}

.three_orange_dot {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}

.project_details {
  font-size: 1.8rem;
  color: black;
  font-family: "Poppins";
  font-weight: 600;
}
.project_details:hover {
  cursor: pointer;
}

.orange_dot {
  height: 0.7rem;
  width: 0.7rem;
  background-color: rgba(245, 166, 121, 0.5254901961);
  border-radius: 50%;
}
.orange_dot:hover {
  cursor: pointer;
}

.orange_dot:first-child {
  height: 0.7rem;
  width: 0.7rem;
  background-color: #f0894d;
  border-radius: 50%;
}
.orange_dot:first-child:hover {
  cursor: pointer;
}

.notif_alert_dot {
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--orange);
  position: absolute;
  top: 26%;
  left: 54%;
  border-radius: 50%;
}

.user_name_section {
  padding: 0 0 0.5rem 0.8rem;
}

.main_three_orange_dot {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 auto;
  margin-top: 1.75rem;
  width: 100%;
  justify-content: right;
}

.main_orange_dot {
  height: 0.7rem;
  width: 0.7rem;
  background-color: #f0894d;
  border-radius: 50%;
}
.main_orange_dot:hover {
  cursor: pointer;
}

.last_orange_icon_section {
  background-color: rgba(216, 213, 213, 0.5137254902);
  border-radius: 50%;
  border: 1px solid var(--orange);
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.last_orange_icon_section:hover {
  cursor: pointer;
}

.four_element_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.2rem 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .four_element_flex {
    justify-content: end;
  }
}

.three_element_flex {
  display: flex;
  align-items: center;
}
@media (min-width: 1450px) and (max-width: 1700px) {
  .three_element_flex {
    font-size: 80%;
  }
}

.three_element_flex_2 {
  display: flex;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .three_element_flex_2 {
    display: none;
  }
}

.last_orange_icon_section_first {
  background-color: var(--white);
  border-radius: 50%;
  border: 1px solid var(--orange);
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.last_orange_icon_section_first:hover {
  cursor: pointer;
}
@media (min-width: 0px) and (max-width: 768px) {
  .last_orange_icon_section_first {
    margin-right: 2rem;
  }
}

@media (min-width: 310px) and (max-width: 540px) {
  .first_flex,
  .column_1 {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    transition: background-color 0.3s ease;
  }
}

@media (min-width: 310px) and (max-width: 540px) {
  .main_container {
    overflow-y: auto;
    margin-top: 12rem;
  }
}

.column_1 {
  background-color: white;
}
@media (min-width: 310px) and (max-width: 540px) {
  .column_1 {
    margin-top: 7rem;
  }
}

.many_user_img_section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
  margin-top: 1rem;
}

.plus_icon {
  color: #f0894d;
  width: 3rem;
  height: 3rem;
}
.plus_icon:hover {
  cursor: pointer;
}

.plus_icon_section {
  display: flex;
  align-items: center;
  background-color: rgba(228, 224, 224, 0.5490196078);
  border-radius: 50%;
  border: 2px dashed var(--orange);
}

.project_section {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 3rem 0 0 0;
  padding: 2.3rem 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.7rem;
}

.daily_task_flex {
  display: flex;
  padding: 2rem 0;
  align-items: center;
  justify-content: space-between;
}

.hide {
  display: none;
}

.task_card_content {
  position: relative;
}

.decorative-line {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  z-index: 9999;
  transform: rotate(-15deg);
  margin-top: 4.05rem;
}

.rotated {
  transform: rotate(-10deg);
  margin-top: 6rem;
}

.decorative-line-svg {
  width: 100%;
  height: 50px;
}

.task_card_second {
  overflow: hidden;
}

@media (min-width: 0px) and (max-width: 768px) {
  .column-layout {
    padding-top: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
