.cross_flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &_cross_icon {
    height: 2.5rem;
    width: 2.5rem;
    transition: all 0.3s ease;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}

.logo {
  width: 100%;
  height: 6rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(41, 41, 41, 0.247);
}
.logo_container {
  margin: 1rem 0 0 0;
  width: 100%;
}
.icons {
  color: black;
  width: 2.5rem;
  height: 2.5rem;
  padding: 1.5rem 0;
  width: 100%;
  transition: all 0.5s ease-out;
  &:hover {
    cursor: pointer;
    background-color: var(--lightyellow);
  }
}
.icons:first-child {
  background-color: var(--lightyellow);
}
.black_icons {
  color: black;
  width: 3.8rem;
  height: 3.8rem;
  margin-bottom: 1rem;
}
.user_main_img {
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 50%;
  margin-left: 1.5rem;
  &:hover {
    cursor: pointer;
  }
}
.icon-section--last-orange {
  background-color: #d8d5d583;
  border-radius: 50%;
  border: 1px solid var(--orange);
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.icon-section--last-orange:hover {
  cursor: pointer;
}

.icon-section__icon--last-orange {
  color: #f0894d;
  width: 1.6rem;
  height: 1.6rem;
  padding: 0.1rem;
}

.many_user_img {
  width: 5.7rem;
  height: 5.6rem;
  border-radius: 50%;
  @media (min-width: 2027px) and (max-width: 2700px) {
    width: 6rem;
    height: 6rem;
  }
  @media (min-width: 1939px) and (max-width: 2027px) {
    width: 5.5rem;
    height: 5.5rem;
  }
  &:hover {
    cursor: pointer;
  }
}
.last_icon {
  color: white;
}
.whitebg {
  background-color: white;
}
.blackbg {
  color: black;
}
.chaticon {
  background-color: var(--lightyellow);
}
li {
  transition: all 0.3s ease;
  &:hover {
    transform: translateX(1rem);
    // font-weight: bold;
  }
}
