.heading {
  border-bottom: 1px solid rgba(41, 41, 41, 0.247);
  padding: 1.05rem 2rem;
  &__main {
    font-size: 2rem;
    font-family: "Poppins";
  }
  &__second {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Poppins";
  }
}
.menu-container {
  width: 100%;
}

.menu-header {
  padding: 0.7rem 0;
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.menu-list {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.toggle-icon {
  transition: transform 0.2s;
  font-size: 2rem;
}

.menu-list li {
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  &:hover {
    cursor: pointer;
  }
}

.menu-list li:last-child {
  font-weight: 600;
  margin-bottom: 1rem;
  &:hover {
    cursor: pointer;
  }
}
.status_container {
  width: 100%;
  height: 0.8rem;
  margin-top: 1rem;
  background-color: rgba(77, 78, 74, 0.281);
  border-radius: 1.5rem;
  overflow: hidden;
}

.today_date_heading {
  color: black;
  font-family: "Poppins";
  font-size: 2.5rem;
}
.col_3_section {
  width: 100%;
  height: 100%;
  height: calc(100vh - 0.2rem);
  padding: 1rem 2rem;
  overflow-y: auto;
}
.col_3_heading {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0 0 0;
}
.recent_heading {
  color: var(--black);
  font-size: 1.8rem;
  font-family: "Poppins";
  font-weight: 700;
  cursor: pointer;
}
.view_heading {
  color: var(--orange);
  font-size: 1.4rem;
  font-family: "Poppins";
  font-weight: 500;
  cursor: pointer;
}
.design_system_heading {
  margin-top: 3rem;
  font-size: 2.1rem;
  color: var(--black);
  font-family: "Poppins";
  font-weight: 600;
}
.deadline_heading {
  margin-top: 1.2rem;
  font-size: 1.1rem;
  color: var(--black);
  font-family: "Poppins";
  font-weight: 500;
}
.hours_heading {
  margin-top: 12rem;
  font-size: 1.1rem;
  color: var(--black);
  font-family: "Poppins";
  font-weight: 400;
}
.reminder_heading {
  color: var(--black);
  font-size: 1.8rem;
  font-family: "Poppins";
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.reminder_section {
  border: 2px solid #ccc;
  padding: 2rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
.tomorrow_heading {
  color: #4e4b4b;
  font-family: "Poppins";
  font-size: 1.3rem;
  font-weight: 600;
}
.reminder_flex_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
.long_heading {
  font-size: 1.7rem;
  font-family: "Poppins";
}
.set_heading {
  font-size: 1.3rem;
  font-family: "Poppins";
  font-weight: 500;
  border: 2px dashed #f0894d;
  padding: 1rem;
  border-radius: 3rem;
  flex-shrink: 0;
  transition: all 0.3s ease;
  &:hover {
    background-color: #f0894d;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
  }
}
